* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Garamond;
}

/* Header */
header {
  padding-top: 20px;
}

body {
  background-color: rgb(0, 0, 0);
}

.logo {
  text-align: center;
}

.logoimage {
  max-width: 120px;
  display: block;
  margin: 0 auto 10px auto;
}

a {
  color: #D4AF37;
  text-decoration: none;
}

nav {
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.342);
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  font-size: large;
  display: inline-block;
  margin: 0 15px;
  padding-top: 10px;
}

nav ul li a {
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffffff;
}

/* Hero Section */
.hero {
  height: 80vh;
  background: url(heroimg.jpg) center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.hero h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: var(--gold);
}

.hero p {
  font-size: 1.2rem;
  margin: 15px 0 60px 0;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  color: #D4AF37;
  font-weight: bold;
  border: 2px solid;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.452);
}

.btn:hover {
  background: #000000;
  transform: scale(1.05);
}

.hero-text {
  padding-left: 10px;
}

.hero-text h2 {
  color: #D4AF37;
}

/* Sections */
#about h2 {
  color: #D4AF37;
  display: flex;
  justify-content: center;
  margin: 15px;
}

#about,
#atelier,
#contact {
  padding: 60px 20px;
  text-align: center;
}

#atelier h2 {
  color: #D4AF37;
}

#contact h2 {
  color: #D4AF37;
}

#collections {
  padding: 60px 20px;
  text-align: center;
}

#collections h2 {
  color: #D4AF37;
}

.collections-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.collections-grid h3 {
  color: #D4AF37;
}

.collections-grid article {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.collections-grid article:hover {
  transform: translateY(-5px);
}

.collections-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #222;
  color: #fff;
}

.footer-logo {
  max-width: 120px;
  display: inline;
  margin: 0 auto 10px auto;
}

.footer-right p {
  margin: 0;
  font-size: 0.9rem;
  display: inline-block;
  align-items: center;
}

/* Button 2 */
.btn2 {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #ff660000;
  color: #D4AF37;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn2:hover {
  background-color: #d4af3738;
  color: white;
  transform: scale(1.05);
}
